html,
body {
  height: 100%;
  font-family: "Baloo Bhai", cursive;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#drum-machine {
  background: #134074;
  width: 650px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  border: 10px solid grey;
  border-radius: 10px;
}

#display {
  color: black;
  background: white;
  width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
  border-radius: 15px;
}

.text-center {
  text-align: center;
}

.drum-pad {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  outline: none;
  color: white;
  border: 2px solid black;
  background: #d63031;
}

.drum-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.drum-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#button-on {
  border: none;
  outline: none;
  background: #50be6e;
  color: white;
  padding: 10px;
}
#button-off {
  border: none;
  outline: none;
  background: #d63031;
  color: white;
  padding: 10px;
}

button::-moz-focus-inner {
  border: 0;
}

#change-audio-button-on {
  border: none;
  outline: none;
  background: #50be6e;
  color: white;
  padding: 10px;
}

#change-audio-button-off {
  visibility: hidden;
  padding: 10px;
  border: none;
  outline: none;
}

/* for device less than 700px */
@media (max-width: 700px) {
  #drum-machine {
    height: 400px;
    width: 400px;
    flex-direction: column;
  }

  .item-container {
    height: 400px;
  }
}
/* for device less than 500px */
@media (max-width: 500px) {
  #drum-machine {
    width: auto;
  }

  .item-container {
    height: 190px;
  }

  button {
    font-size: 12px;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  html {
    height: auto;
  }
}
